*   {
    margin: 0; 
    
}


.banniere {
height: 60vh;
background-color: black;
position: relative;


}

.banniere video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.top {
    color: white;
    
}

.banniere .top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}


.haut {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
       border: 1px solid red;

    
}

.topleft {
display: flex;
     flex-direction: column;
    flex-wrap: nowrap;
    padding: 2px;
    margin: 2px;
    border: 1px solid white;

}

.topnav {
   display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 2px;
    margin: 2px;
    justify-content: space-around;
       border: 1px solid white;

}

.nav { 

    margin: 5px;
}
.toprs {
       display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
     padding: 2px;
    margin: 2px;
       border: 1px solid white;


}

.rs {

    margin: 2px;
}

.book {
    border: 1px solid white;
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 5px;
}

.topmilieu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px;
    justify-content: space-around;
    border: 1px solid white;
    

}

.soustitre {
    text-align: center;

    margin: 20px;
}

h2 {
    font-weight: 300;
}

.highlights, .carte, .chef, .numbers, .partie5 {
   
     border: 1px solid red;
     text-align: center;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
}

.hightext, .alacarte, .reservation, .symbols, .ourchef {
    width: 45%;
}

.symbols {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.bat {
    
    border: 1px solid aquamarine;
    background-color: aquamarine;
    padding: 2px;
    width: 10%;
    margin: auto;
    text-align: center;
}


.imgmenu1, .imgmenu2, .imgmenu3, .imgmenu4, .imgmenu5 {
object-fit: contain;
 width: 45%;
 height: 400px;
  border: 1px solid purple;
}

.imgmenu1 {
    background-image: url(./images/blog2.jpg);
}
.imgmenu2 {
    background-image: url(./images/menu-img.jpg);
}

.imgmenu3 {
    background-image: url(./images/team-page.jpg);
}

.imgmenu4 {
    background-image: url(./images/blog-img.jpg);
}


 
.svg {
    width: 23%;
    color: aquamarine;
}

.imagepied {
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;

}

.imgpied {
    height: 30%;
    width: 30%;
   
}
