*   {
    margin: 0; 
    
}


.banniere {
height: 40vh;
background-color: black;
position: relative;


}

.banniere video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top {
    color: white;
    
}

.banniere .top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    
}

.book {
    border: 1px solid white;
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    margin: 5px;
}
.haut {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    
}

.topleft {
display: flex;
     flex-direction: column;
    flex-wrap: nowrap;
    padding: 2px;
    margin: 2px;

}

.topnav {
   display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 2px;
    margin: 2px;
    justify-content: space-around;
}
.toprs {
       display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
     padding: 2px;
    margin: 2px;


}
.topmilieu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 250px;

}

.soustitre {
    text-align: center;

    margin: 20px;
}

h2 {
    font-weight: 300;
}

.highlights {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bat {
    
    border: 1px solid aquamarine;
    background-color: aquamarine;
    padding: 2px;
    width: 10%;
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;


}
.imgmenu1 .imgmenu2 .imgmenu3 .imgmenu4 {
  width: 20%;
}



.numbers {
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
    
}
.svg {
    width: 30%;
    color: aquamarine;
}

.imagepied {
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;

}

.imgpied {
    width: 5%;
   
}

